body {
	background: #DBE3E7;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

header {
	background-color: #F9F9F9;
	font-family: 'Lobster', Georgia, Times, serif;
	color: #31344A;
	text-align: left;
	font-size: 35px;
	padding: 10px;
	padding-left: 40px;
	margin-bottom: 5px;
   border-bottom: 1px solid rgba(113, 101, 93, 0.47);
}

footer {
	background-color: #F9F9F9;
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	color: #31344A;
	clear: both;
	text-align: center;
	font-size: 20px;
	bottom: 0;
	padding: 15px;
	margin-top: 15px;
   border-top: 1px solid rgba(113, 101, 93, 0.47);
}

a {
	text-decoration: none;
	color:#136CB2;
	outline: 0;
}

/* ---- main ---- */

#main {
	min-height: 650px;
	margin: 0px;
	padding: 0px;

	display: -webkit-flex;
	display:         flex;
	-webkit-flex-flow: row;
		     flex-flow: row;
}

#main div#nav {
	margin: 0px;
	padding: 5px;
	padding-right: 0px;
	border: 0px solid #8888bb;
	border-radius: 7pt;
	background: #DBE3E7;

	-webkit-flex: 1 6 20%;
		     flex: 1 6 20%;
	-webkit-order: 1;
		     order: 1;
}

#main div#container {
	margin: 0px;
	padding: 5px;
	padding-right: 0px;
	border: 0px solid #cccc33;
	border-radius: 7pt;
	background: #DBE3E7;

	-webkit-flex: 3 1 60%;
		     flex: 3 1 60%;
	-webkit-order: 2;
		     order: 2;

	display: -webkit-flex;
	display:         flex;
	-webkit-flex-flow: column;
		     flex-flow: column;
}

#main div#aside {
	margin: 4px;
	padding: 5px;
	border: 0px solid #8888bb;
	border-radius: 7pt;

	-webkit-flex: 1 6 20%;
		     flex: 1 6 20%;
	-webkit-order: 3;
	        order: 3;
}

/* ---- nav ---- */

#nav div#naventries {
	border: 0px solid rgba(113, 101, 93, 0.47);
	margin: 0px;
	padding: 0px 5px 0px 5px;
	border-radius: 7pt;
}

#naventries ul {
	list-style: none;
	padding-left: 0;
	border: 0px solid rgba(113, 101, 93, 0.47);
	width: 70%;
}

#naventries li {
	border: 1px solid rgba(113, 101, 93, 0.47);
	margin: 0px 5px 5px 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: center;
}

#naventries li:hover {
	background-color: #C8C8C8;
}

#naventries a {
	display: block;
}

/* ---- container ---- */

#tfheader{
	border: 0px solid rgba(113, 101, 93, 0.47);
	background-color:#DBE3E7;
}

#tfsearch {
	float: left;
	padding: 5px;
	margin-top: 10px;
	margin-left: 14px;
}

.tfinput {
	padding: 3px 13px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	border: 1px solid #0076a3;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
   -moz-box-sizing: border-box;
	outline: none;
}

.tfbutton {
	padding: 3px 13px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #0076a3;
	border-right: 3px;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}

.tfbutton:hover {
	text-decoration: none;
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}

.tfclear {
	clear:both;
}

#container img {
	margin-top: 50px;
	padding: 50px;
	padding-left: 120px;
	height: 250px;
	width: 250px;
}

#container div#entries {
	margin: 4px;
	padding: 5px;
	border: 0px solid #cccc33;
	border-radius: 7pt;
	background: #DBE3E7;
}

#entries ul {
	list-style: none;
	padding: 0;
}

#entries li {
	border: 0px solid orange;
	padding: 0.4em;
	margin: 0px 5px 8px 5px;
	font-family: Arial, Helvetica, sans-serif;
}

.name-year {
	background-color: #ffffff;
	color: #31344A;
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	padding: 5px;
	margin-bottom: 2px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	border-top: 0px solid #0076a3;
}

.name-year a {
	font-size: 16px;
}

.rating-base {
	background-color:#ffffff;
	color: black;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	padding: 5px;
	margin-bottom: 2px;
}

.rating-base a {
	font-weight: bold;
}

.base {
	color: black;
}

.description {
	background-color:#ffffff;
	color: black;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	padding: 5px;
	margin-bottom: 2px;
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}

